@font-face {
    font-family: 'Roobert';
    src: url('https://actionjaxonbtw.github.io/roobertfont/roobert-regular.woff2') format('woff2'),
         url('https://actionjaxonbtw.github.io/roobertfont/roobert-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roobert', sans-serif;
}
